<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
        <link rel="stylesheet" href="ui/css/normalize.css" />
        <link rel="stylesheet" href="ui/css/style.css" />

        <script type="text/javascript" src="ui/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="ui/js/classie.js"></script>
        <script type="text/javascript" src="ui/js/modernizr.custom.25376.js"></script>
    </head>
    <body>
        <div id="perspective" class="perspective effect-airbnb">

            <div class="container">
                <button id="showMenu" class="menu-trigger"><span>Menu</span></button>
                <div class="wrapper">
                    <header>

                    </header>